<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{{ url_for('static',filename='css/support.css') }}">

    <title>RapidAid's Support</title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand text-white" href="index.html"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp
                    &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp
                    <strong>RapidAid</strong></a>
            </div>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-regular fa-circle-user fa-2x"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="wallet.html" target="_blank"><i
                                    class="fa-solid fa-wallet"></i>&nbspWallet</a></li>
                        <li><a class="dropdown-item" href="support.html" target="_blank"><i
                                    class="fa-solid fa-headset"></i>&nbspSupport</a>
                        </li>
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-taxi"></i>&nbspServices</a></li>
                    </ul>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                </div>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-white">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand text-black" href="index.html"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp
                    &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp&nbsp &nbsp &nbsp
                    <strong>Support</strong></a>
            </div>
        </div>

    </nav>

    <div class="Text_support">
        <h2>
            <center><strong>Welcome to RapidAid Support</strong></center>
        </h2>
        <br><br>
        <h5>
            <center>We’re here to help. Looking for customer service contact information? Explore support <br> resources
                for the relevant products below to find the best way to reach out about your <br>
                issue.</center>
            </h4>
            <br><br><br>
    </div>

    <div class="d-flex justify-content-center">

        <div class="flex-box">
            <i class="fa-solid fa-file-invoice"></i>
            <a class="navbar-brand text-black"><strong>Booking</strong></a>
        </div>
        <div class="flex-box">
            <i class="fa-solid fa-user-secret"></i>
            <a class="navbar-brand text-black"><strong>Captain</strong></a>
        </div>

    </div>

    <footer class="main-footer">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="logo-widget footer-widget">

                            <div class="text">
                                <p>©2024 All Rights Reserved. RapidAid® is a registered trademark of The Rocket Science Group. Apple and the Apple logo are trademarks of Apple Inc. Mac App Store is a service mark of Apple Inc. Google Play and the Google Play logo are trademarks of Google Inc. Privacy | Terms | Legal | Cookie Preferences</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 offset-lg-2 footer-column">
                        <div class="service-widget footer-widget">
                            <div class="footer-title">Services</div>
                            <ul class="list">
                                <li><a href="services.html">BLS Ambulance</a></li>
                                <li><a href="services.html">ALS Ambulance</a></li>
                                <li><a href="services.html">ICU Ambulance</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-widget">
                        <div class="contact-widget footer-widget">
                            <div class="footer-title">Contacts</div>
                            <div class="text">
                                <p>23,Kals colony Bangalore</p>
                                <p>+91 3451223323</p>
                                <p>info@\rapidaid.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>